@import "variables";
@import "mixins";

header {
  color: @colorLight;
  background-color: rgba(255, 255, 255, 0.38);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  .flex-display();
  .justify-content(space-between);
  transition: all 0.5s ease-in-out;

  &.pinned {
    background-color: rgba(255, 255, 255, 1);

    a {
      color: @colorGreen;
    }

    .langSelect {
      &__single-value {
        color: @colorGreen;
      }

      &__menu {
        background-color: @colorLight;
      }

      &__option {
        color: @colorGreen;
      }
    }
  }

  .logoBlock {
    background-color: @colorLight;
  }

  .logo {
    padding: 27px 14px 21px 27px;
    display: block;

    img {
      height: 50px;
      width: auto;
    }
  }

  nav {
    .flex-display();

    ul {
      .flex-display();
    }

    li {
      list-style-type: none;
      padding: 5px 17px;
      .flex-display();
      .align-items(center);
    }

    a {
      color: @colorLight;
      text-decoration: none;
      .font(16px, 1.1, bold);
      transition: color 0.5s ease-in-out;

      &:hover {
        color: @colorLinkAlt;
      }
    }
  }

  .langSelect {
    cursor: pointer;

    &__control {
      background: transparent;
      border: none !important;
      box-shadow: none;
    }

    &__value-container {
      width: 40px;
    }

    &__single-value {
      color: @colorLight;
      transition: color 0.5s ease-in-out;
    }

    &__indicator-separator {
      display: none;
    }

    &__dropdown-indicator svg {
      fill: @colorLinkAlt;
    }

    &__menu {
      background-color: rgba(255, 255, 255, 0.38);
    }

    &__option {
      opacity: 0.7;
      background-color: transparent;
    }

    &__option--is-focused {
      opacity: 1;
    }

    &__option--is-selected {
      opacity: 1;
    }
  }
}
