@import "variables";
@import "mixins";

.hero {
  background-color: #716206;
  padding-top: 270px;
  color: @colorLight;
  position: relative;

  .container {
    position: relative;
    z-index: 2;
  }

  .heroBgSlider {
    position: absolute !important;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.45);
    }
  }

  .heroCarouselItem {
    height: 802px;
    background-size: cover;
  }
}
