@import "variables";
@import "fonts";

@import "reset";
@import "../../node_modules/slick-carousel/slick/slick";
@import "../../node_modules/slick-carousel/slick/slick-theme";

body {
  font-family: @fontFamilyDefault;
  margin: 0;
}

p {
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.connectBtn {
  height: 47px;
  .font(18px, 47px, bold);
  border-radius: 5px;
  color: @colorGreen;
  font-family: @fontFamilyAharoni;
  background-color: @colorLight;
  padding: 0 46px;
}

.heading {
  color: @colorGreen;
  font-family: @fontFamilyAharoni;
  .font(36px, 1, bold);
  padding-bottom: 23px;
  position: relative;
  margin-bottom: 20px;

  &:after {
    position: relative;
    content: "";
    width: 306px;
    height: 1px;
    background-color: @colorGreen;
    display: block;
    margin: 24px auto 0;
  }

  &:before {
    position: relative;
    content: "";
    width: 170px;
    height: 1px;
    background-color: @colorGreen;
    display: block;
    bottom: -84px;
    margin: 0 auto;
  }
}

.yellowBtn {
  background-color: @colorYellow;
  color: @colorLight;
  height: 50px;
  .font(18px, 50px, bold);
  border-radius: 5px;
  padding: 0 44px;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}

@import "./components/header";
@import "./components/hero";
@import "./components/company";
@import "./components/info-block";
@import "./components/text-block";
@import "./components/products";
@import "./components/img-parallax";
@import "./components/columns";
@import "./components/text-section";
@import "./components/footer";
