@import "variables";
@import "fonts";

@import "../../node_modules/slick-carousel/slick/slick";
@import "../../node_modules/slick-carousel/slick/slick-theme";

body {
  font-family: @fontFamilyDefault;
  margin: 0;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.connectBtn {
  height: 47px;
  .font(18px, 47px, bold);
  border-radius: 5px;
  color: @colorGreen;
  font-family: @fontFamilyAharoni;
  background-color: @colorLight;
  padding: 0 46px;
}

.heading {
  color: @colorGreen;
  font-family: @fontFamilyAharoni;
  .font(36px, 1, bold);
  padding-bottom: 23px;
  position: relative;

  &:after {
    position: relative;
    content: "";
    width: 306px;
    height: 1px;
    background-color: @colorGreen;
    display: block;
    margin: 24px auto 0;
  }

  &:before {
    position: relative;
    content: "";
    width: 170px;
    height: 1px;
    background-color: @colorGreen;
    display: block;
    bottom: -84px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}

@import "header";
@import "hero";
@import "company";
@import "info-block";
@import "text-block";
@import "products";
@import "img-parallax";
