@colorMain: #ccc;
@colorLight: #ffffff;
@colorLinkAlt: #cad636;
@colorGreen: #467035;
@colorGreenLighter: #547a31;
@colorGreenDark: #101c0b;
@colorYellow: #ebc809;
@colorGray: #f9f9f9;

@fontFamilyDefault: ~"Arial, Helvetica, sans-serif";
@fontFamilyAharoni: ~'"Roboto", "Lucida Grande", Arial, Helvetica, sans-serif';

@deviceResolution: "979";
@mobResolution: "767";

@mediaTabletMobile: ~"only screen and (max-width: @{deviceResolution}px)";
@mediaMobile: ~"only screen and (max-width: @{mobResolution}px)";
